[Unit]
Description=gunicorn daemon
Requires=various_useful_apis.socket
After=network.target

[Service]
User=andrew
Group=www-data
WorkingDirectory=/home/andrew/python_projects/various-useful-api-django
ExecStart=/home/andrew/python_projects/various-useful-api-django/venv/bin/gunicorn \
          --access-logfile - \
          --error-logfile '/home/andrew/python_projects/various-useful-api-django/gunicorn-errors.txt' \
          --timeout 120 \
          --workers 3 \
          --bind unix:/run/gunicorn_various_useful_apis.sock \
          app.wsgi:application

[Install]
WantedBy=multi-user.target
